<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-toolbar [parentPath]="string"></app-toolbar>
    </div>
    <div class="col-sm-10">
      <br>
      <br>
      <form class="col-8"
            method="post"
            #editNewsForm="ngForm">
        <div class="form-group">
          <h3>新闻编辑</h3>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input
            [(ngModel)]="newsToEdit.title"
            name="title"
            #title="ngModel"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            value="{{news?.title}}">
        </div>
        <div class="form-group">
          <label>
            标签
          </label><br>
          <div class="form-check">
            <input
              [(ngModel)]="newsToEdit.localeTag"
              class="form-check-input"
              type="radio"
              name="localeTag"
              #localeTag="ngModel"
              id="nationalTag"
              value="国内"
              [checked]="news?.localeTag==='国内'">
            <label class="form-check-label" for="nationalTag">
              国内
            </label>
          </div>
          <div class="form-check">
            <input
              [(ngModel)]="newsToEdit.localeTag"
              class="form-check-input"
              type="radio"
              name="localeTag"
              #localeTag="ngModel"
              id="internationalTag"
              value="国际"
              [checked]="news?.localeTag==='国际'">
            <label class="form-check-label" for="internationalTag">
              国际
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input
              [(ngModel)]="newsToEdit.contentTag"
              class="form-check-input"
              type="radio"
              name="contentTag"
              #contentTag="ngModel"
              id="contentTag1"
              value="趋势"
              [checked]="news?.contentTag==='趋势'">
            <label class="form-check-label" for="contentTag1">
              趋势
            </label>
          </div>
          <div class="form-check">
            <input
              [(ngModel)]="newsToEdit.contentTag"
              class="form-check-input"
              type="radio"
              name="contentTag"
              #contentTag="ngModel"
              id="contentTag2"
              value="深度"
              [checked]="news?.contentTag==='深度'">
            <label class="form-check-label" for="contentTag2">
              深度
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input
              [(ngModel)]="newsToEdit.languageTag"
              class="form-check-input"
              type="radio"
              name="languageTag"
              #languageTag="ngModel"
              id="language1"
              value="CN"
              [checked]="news?.languageTag==='CN'">
            <label class="form-check-label" for="language1">
              CN
            </label>
          </div>
          <div class="form-check">
            <input
              [(ngModel)]="newsToEdit.languageTag"
              class="form-check-input"
              type="radio"
              name="languageTag"
              #languageTag="ngModel"
              id="language2"
              value="EN"
              [checked]="news?.languageTag==='EN'">
            <label class="form-check-label" for="language2">
              EN
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="newsDescription">简介</label>
          <textarea
            [(ngModel)]="newsToEdit.newsDescription"
            name="newsDescription"
            #newsDescription="ngModel"
            class="form-control"
            id="newsDescription"
            value="{{news?.newsDescription}}">
          </textarea>
        </div>
        <div class="form-group">
          <label for="imageUrl">图片地址</label>
          <textarea
            [(ngModel)]="newsToEdit.imageURL"
            class="form-control"
            id="imageUrl"
            name="imageUrl"
            #imageUrl="ngModel"
            value="{{news?.imageURL}}">
          </textarea>
        </div>
        <div class="form-group">
          <label for="url">文章地址</label>
          <textarea
            [(ngModel)]="newsToEdit.url"
            class="form-control"
            id="url"
            name="url"
            #url="ngModel"
            value="{{news?.url}}">
          </textarea>
        </div>
        <button (click)="onSubmit()" class="btn btn-primary" data-toggle="modal" data-target="#informationDialog">Submit</button>
        <br><br>
        <button (click)="openDelete(content)" class="btn btn-danger">Delete</button>

        <div class="modal fade" id="informationDialog" tabindex="-1" role="dialog"
             aria-labelledby="informationDialogTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="informationDialogTitle">{{messageTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{messageBody}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/news/list"
                        (click)="succeeded ? (succeeded=false):false">Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">确认删除</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>确认删除原创文章： {{news.title}} ？</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" routerLink="/genuine/list" (click)="d(onDelete(news._id))" >Delete</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>
