<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-toolbar [parentPath]="string"></app-toolbar>
    </div>
    <div class="col-sm-10">
      <br>
      <br>
      <form class="col-8" method="post">
        <div class="form-group">
          <h3>新闻编辑</h3>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input ngModel name="title" #title="ngModel" (click)="log(title)" type="text" class="form-control" id="exampleInputEmail1" value="{{news?.title}}">
          <div hidden *ngIf="title.pristine" [title]="news?.title"></div>
          <div class="alert alert-danger" *ngIf="title.dirty">Data changed</div>
        </div>
        <div class="form-group">
          <label>
            标签
          </label><br>
          <label>
            {{news?.localeTag}}
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                   [checked]="news?.localeTag==='国内'">
            <label class="form-check-label" for="exampleRadios1">
              国内
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"
                   [checked]="news?.localeTag==='国际'" >
            <label class="form-check-label" for="exampleRadios2">
              国际
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            {{news?.contentTag}}
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1"
                   [checked]="news?.contentTag==='趋势'">
            <label class="form-check-label" for="exampleRadios1">
              趋势
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2" [checked]="news?.contentTag==='深度'">
            <label class="form-check-label" for="exampleRadios2">
              深度
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            {{news?.languageTag}}
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="language1" value="CN" [checked]="news?.languageTag==='CN'">
            <label class="form-check-label" for="language1">
              CN
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="language2" value="EN" [checked]="news?.languageTag==='EN'">
            <label class="form-check-label" for="language2">
              EN
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">简介</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="{{news?.newsDescription}}">
          <label>{{news?.newsDescription}}</label>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">图片地址</label>
          <textarea class="form-control" id="imageUrl" name="imageUrl" placeholder="{{news?.imageURL}}"></textarea>
          <label>{{news?.imageURL}}</label>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">文章地址</label>
          <textarea class="form-control" id="url" name="url" placeholder="{{news?.url}}"></textarea>
          <label>{{news?.url}}</label>
        </div>
        <!--<input type="text"  hidden>-->
        <button formaction="/submitNewsAdd" type="submit" class="btn btn-primary">Submit</button>
        <br><br>
        <button formaction="/deleteNews" type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
