<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-toolbar [parentPath]="string"></app-toolbar>
    </div>
    <div class="col-sm-10">
      <br>
      <br>
      <form class="col-8" method="post">
        <div class="form-group">
          <h3>快讯编辑</h3>
        </div>
        <div class="form-group">
          <label>
            {{flash?.languageTag}}
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="language1" value="CN" checked>
            <label class="form-check-label" for="language1">
              CN
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="language2" value="EN">
            <label class="form-check-label" for="language2">
              EN
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>消息</label>
          <textarea class="form-control" name="message" id="message" placeholder="{{flash?.shortMassage}}"></textarea>
        </div>
        <button formaction="/flash/edit" type="submit" class="btn btn-primary">Submit</button>
        <br><br>
        <button formaction="/flash/delete" type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>

