<form>
  <pre></pre>
  <div class="btn-group btn-group-toggle" ngbRadioGroup>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="bytime" id="searchByTime" [(ngModel)]="options" name="options" (click)="sendMessage(null)" > 按时间
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="bykey" id="searchByKey" [(ngModel)]="options" name="options" (click)="sendMessage(null)" > 按关键词
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="bytag" id="searchByTag" [(ngModel)]="options" name="options" (click)="sendMessage(null)" > 按标签
    </label>
  </div>
  <hr>
  <pre></pre>
  <div class="row" *ngIf="options ==='bytime'">
    <div class="col-4">
      <label>Start: YYYY-MM-DD</label>
      <div class="input-group">
        <input class="form-control" placeholder="Start: yyyy-mm-dd"
               name="dateFrom" [(ngModel)]="dateFromFormat" ngbDatepicker #df="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
            <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
      <!--<input [(ngModel)]="dateFrom" name="from" #from="ngModel" type="text" class="form-control" placeholder="Start: YYYY,MM,DD">-->
    </div>
    <div class="col-4">
      <label>End: YYYY-MM-DD</label>
      <div class="input-group">
        <input class="form-control" placeholder="End: yyyy-mm-dd"
               name="dateTo" [(ngModel)]="dateToFormat" ngbDatepicker #dt="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
            <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
      <!--<input [(ngModel)]="dateTo" name="to" #to="ngModel" type="text" class="form-control" placeholder="End: YYYY,MM,DD">-->
    </div>
    <div class="col-2">
      <br>
      <button (click)="onClick()" class="btn btn-primary" style="margin-top: 8px">Search</button>
      <br>
    </div>
  </div>
  <div class="row" *ngIf="options ==='bykey'">
    <div class="col-8">
      <label>Search By Keywords</label>
      <input id="Keywordsearch" type="text" class="form-control" [(ngModel)]="keyword" name="keyword" />
    </div>
    <div class="col-2">
      <br>
      <button (click)="onClickByKey()" class="btn btn-primary" style="margin-top: 8px">Search</button>
      <br>
    </div>
  </div>
  <div class="row" *ngIf="options ==='bytag'">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="onClickByTag1()"
      [ngStyle]="{'background-color':tagBackColor[0],'color':tagFontColor[0]}">
        {{tag1}}
        <span aria-hidden="true" *ngIf="tagClicktimes[0]%2 !==0">&times;</span>
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="onClickByTag2()"
              [ngStyle]="{'background-color':tagBackColor[1],'color':tagFontColor[1]}">{{tag2}}
        <span aria-hidden="true" *ngIf="tagClicktimes[1]%2 !==0">&times;</span></button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger"
              *ngIf="string !== 'news'"
              (click)="onClickByTag3()"
              [ngStyle]="{'background-color':tagBackColor[2],'color':tagFontColor[2]}">{{tag3}}
        <span aria-hidden="true" *ngIf="tagClicktimes[2]%2 !==0">&times;</span></button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-warning"
              *ngIf="string !== 'news'"
              (click)="onClickByTag4()"
              [ngStyle]="{'background-color':tagBackColor[3],'color':tagFontColor[3]}">{{tag4}}
        <span aria-hidden="true" *ngIf="tagClicktimes[3]%2 !==0">&times;</span></button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-info"
              *ngIf="string === 'genuine'"
              (click)="onClickByTag5()"
              [ngStyle]="{'background-color':tagBackColor[4],'color':tagFontColor[4]}">{{tag5}}
        <span aria-hidden="true" *ngIf="tagClicktimes[4]%2 !==0">&times;</span></button>
    </div>
  </div>
</form>
<p style="font-weight: "></p>

