<app-menubar></app-menubar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-toolbar></app-toolbar>
    </div>
    <div class="col-sm-10">
      <app-searchbar></app-searchbar>
      <br>
      <br>
      <ul class="list-group">
        <app-listgroupitem
          (messageEvent)="recieveMessage($event)"
          *ngFor="let n of newss"
          [time]="n.publishedTime"
          [labelTitle]="n.title"
          [id]="n._id"
        ></app-listgroupitem>
      </ul>
    </div>
  </div>
</div>

