<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-toolbar [parentPath]="string"></app-toolbar>
    </div>
    <div class="col-sm-10">
      <br>
      <br>
      <form class="col-8" method="post">
        <div class="form-group">
          <h3>视频编辑</h3>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="{{video?.title}}">
        </div>
        <div class="form-group">
          <label>
            标签
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                   checked>
            <label class="form-check-label" for="exampleRadios1">
              国内
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              国际
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>简介</label>
          <textarea class="form-control" name="videoDescription" id="videoDescription" placeholder="{{video?.videoDescription}}"></textarea>
        </div>
        <div class="form-group">
          <label>图片地址</label>
          <textarea class="form-control" name="imageURL" id="imageURL" placeholder="{{video?.imageURL}}"></textarea>
        </div>
        <div class="form-group">
          <label>视频地址</label>
          <textarea class="form-control" name="url" id="url" placeholder="{{video?.url}}"></textarea>
        </div>
        <button formaction="/submitNewsAdd" type="submit" class="btn btn-primary">Submit</button>
        <br><br>
        <button formaction="/deleteNews" type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>

