<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/{{parentPath}}/list">
          <br>
          <span data-feather="home">
          </span>
          列表
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/{{parentPath}}/add">
          <br>
          <span data-feather="file"></span>
          添加
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/{{parentPath}}/search">
          <br>
          <span data-feather="shopping-cart"></span>
          查询
        </a>
      </li>
    </ul>
  </div>
</nav>
