<form class="col-5" method="post" action="/news/addNews">
  <div class="form-group">
    <label for="exampleInputEmail1">标题</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder={{news.title}}}>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">作者</label>
    <input type="text" class="form-control" id="authorLabel" placeholder="{{news.author}}}">
  </div>
  <div class="form-group">
    <label>
      标签
    </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="">
      <label class="form-check-label" for="exampleRadios1">
        标签1（国内）
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        国际
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" checked="">
      <label class="form-check-label" for="exampleRadios1">
        趋势
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        深度
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword3">简介</label>
    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="{{news.newsDescription}}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">图片地址</label>
    <textarea type="text" class="form-control" rows="5" id="exampleInputPassword2" placeholder="{{news.imageURL}}}"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">文章地址</label>
    <textarea type="text" class="form-control" rows="5" id="exampleInputPassword1" placeholder="{{news.url}}"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
