<app-menubar></app-menubar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-toolbar [parentPath]="string"></app-toolbar>
    </div>
    <div class="col-sm-10">
      <br>
      <br>
      <form class="col-8" method="post">
        <div class="form-group">
          <h3>原创编辑</h3>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="{{genuine?.title}}">
        </div>
        <div class="form-group">
          <label>
            标签
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                   [checked]="genuine?.genuineTag==='原创文章'">
            <label class="form-check-label" for="exampleRadios1">
              原创文章
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"
                   [checked]="genuine?.genuineTag==='百科'">
            <label class="form-check-label" for="exampleRadios2">
              百科
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"
                   [checked]="genuine?.genuineTag==='分析'">
            <label class="form-check-label" for="exampleRadios2">
              分析
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>
            {{genuine?.languageTag}}
          </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="language1" value="CN" checked>
            <label class="form-check-label" for="language1">
              CN
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="language2" value="EN">
            <label class="form-check-label" for="language2">
              EN
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">简介</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="{{genuine?.genuineDescription}}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">图片地址</label>
          <textarea class="form-control" id="imageURL" name="imageURL" placeholder="{{genuine?.imageURL}}"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">文章地址</label>
          <textarea class="form-control" id="url" name="url" placeholder="{{genuine?.url}}"></textarea>
        </div>
        <button formaction="/genuine/edit/{{genuine?._id}}" type="submit" class="btn btn-primary">Submit</button>
        <br><br>
        <button formaction="/genuine/delete/{{genuine?._id}}" type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
