<app-menubar></app-menubar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-toolbar [parentPath]="string"></app-toolbar>
    </div>
    <div class="col-sm-10">
      <form
        class="col-7"
        method="post"
        action="/gameInfo/addGameInfo"
        (ngSubmit)="onSubmit()"
        #addGenuineForm="ngForm">
        <div class="form-group">
          <h3>更改大赛公告</h3>
        </div>
        <div class="form-group">
          <label for="titleLabel">标题</label>
          <input
            type="text"
            class="form-control"
            id="titleLabel"
            required
            [(ngModel)]="gameInfoToEdit.title"
            name="title"
            #title="ngModel"
            value="{{gameInfo?.title}}">
        </div>
        <div class="form-group">
          <label for="messageLabel">公告内容</label>
          <textarea
            type="text"
            class="form-control"
            rows="5"
            id="messageLabel"
            required [(ngModel)]="gameInfoToEdit.shortMassage"
            name="shortMessage"
            #shortMessage="ngModel"
            value="{{gameInfo?.shortMassage}}">
          </textarea>
        </div>

        <div class="form-group">
          <label>有效日期起始于: </label>
          <div class="input-group">
            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   name="timeFrom"
                   [(ngModel)]="timeFromFormat"
                   required
                   ngbDatepicker
                   #dfA="ngbDatepicker"
                   #timeFrom="ngModel"
                   id="timeFromLabel"
                    value="{{newDateA.getFullYear()}}-{{(newDateA.getMonth()+1)}}-{{newDateA.getDate()}}">
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="dfA.toggle()"
                type="button">
                <img src="assets/images/calendar.png" style="width: 1.8rem; height: 1.8rem; cursor: pointer;">
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <ngb-timepicker
            name="timeASet"
            id = "timeALabel"
            [(ngModel)]="timeFromhms"
            [seconds]="false"
            required
            #timeASet="ngModel"
            [meridian]="meridianA"
            ></ngb-timepicker>
          <button type="button" class="btn btn-sm btn-outline-{{meridianA ? 'success' : 'danger'}}" (click)="toggleMeridianA()">
            24小时制 - {{meridianA ? "开" : "关"}}
          </button>
          <hr>
        </div>

        <div class="form-group">
          <label>有效日期截止于: </label>
          <div class="input-group">
            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   name="timeTo"
                   [(ngModel)]="timeToFormat"
                   required
                   ngbDatepicker
                   #dfB="ngbDatepicker"
                   #timeTo="ngModel"
                   id="timeToLabel"
                   value="{{newDateB.getFullYear()}}-{{(newDateB.getMonth()+1)}}-{{newDateB.getDate()}}">
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="dfB.toggle()"
                type="button">
                <img src="assets/images/calendar.png" style="width: 1.8rem; height: 1.8rem; cursor: pointer;">
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <ngb-timepicker
            name="timeBSet"
            id = "timeBLabel"
            [(ngModel)]="timeTohms"
            [seconds]="false"
            required
            #timeBSet="ngModel"
            [meridian]="meridianB"></ngb-timepicker>
          <button type="button"
                  class="btn btn-sm btn-outline-{{meridianB ? 'success' : 'danger'}}" (click)="toggleMeridianB()">
            24小时制 - {{meridianB ? "开" : "关"}}
          </button>
          <hr>
        </div>


        <button
          type="submit"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#informationDialog">
          Submit
        </button>


        <div class="modal fade" id="informationDialog" tabindex="-1" role="dialog"
             aria-labelledby="informationDialogTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="informationDialogTitle">{{messageTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{messageBody}}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  (click)="succeeded ? (addGenuineForm.reset()) && (succeeded=false):false">
                  关闭
                </button>
              </div>
            </div>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
