<app-menubar></app-menubar>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <app-toolbar [parentPath]="string"></app-toolbar>
        <!--[parentData]="path"-->
      </div>
      <div class="col-sm-10">
        <form class="col-7" method="post" action="/activity/addActivity" (ngSubmit)="onSubmit()" #addActivityForm="ngForm">
          <div class="form-group">
            <h3>活动添加</h3>
          </div>
          <div class="form-group">
            <label for="titleLabel">标题</label>
            <input
              type="text"
              class="form-control"
              id="titleLabel"
              required
              [(ngModel)]="activityToAdd.eventName"
              name="eventName"
              #eventName="ngModel">
            <label
              for="titleLabel"
              [hidden]="eventName.valid || !(eventName.dirty || eventName.touched)"
              class="alert alert-danger col-12">
              *未输入标题
            </label>
          </div>
          <div class="form-group">
            <label for="eventhostLabel">举办方</label>
            <input
              type="text"
              class="form-control"
              id="eventhostLabel"
              required
              [(ngModel)]="activityToAdd.eventHost"
              name="eventhost"
              #eventhost="ngModel">
            <label
              for="eventhostLabel"
              [hidden]="eventhost.valid || !(eventhost.dirty || eventhost.touched)"
              class="alert alert-danger col-12">
              *未输入举办方
            </label>
          </div>
          <div class="form-group">
            <label for="descriptionLabel">活动简介</label>
            <textarea
              type="text"
              class="form-control"
              id="descriptionLabel"
              rows="5"
              required
              [(ngModel)]="activityToAdd.eventDescription"
              name="description"
              #description="ngModel">
            </textarea>
            <label
              for="descriptionLabel"
              [hidden]="description.valid || !(description.dirty || description.touched)"
              class="alert alert-danger col-12">
              *未输入活动简介
            </label>
          </div>
          <div class="form-group">
            <label for="addressLabel">地址</label>
            <input
              type="text"
              class="form-control"
              id="addressLabel"
              required
              [(ngModel)]="activityToAdd.eventAddress"
              name="address"
              #address="ngModel">
            <label
              for="addressLabel"
              [hidden]="address.valid || !(address.dirty || address.touched)"
              class="alert alert-danger col-12">
              *未输入地址
            </label>
          </div>
  
          <div class="form-group">
            <label for="suburbLabel">区</label>
            <input
              type="text"
              class="form-control"
              id="suburbLabel"
              required
              [(ngModel)]="activityToAdd.eventCity"
              name="suburb"
              #suburb="ngModel">
            <label
              for="suburbLabel"
              [hidden]="suburb.valid || !(suburb.dirty || suburb.touched)"
              class="alert alert-danger col-12">
              *未输入区
            </label>
          </div>

          <br><br>
          <div class="row">
            <div class="col-4">
              <label>举行日期: YYYY-MM-DD</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dateStart" [(ngModel)]="dateStartFormat" ngbDatepicker #df="ngbDatepicker" #dateStart="ngModel" id="dateLabel">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
                      <img src="assets/images/calendar.png" style="width: 1.8rem; height: 1.8rem; cursor: pointer;">
                  </button>
                </div>
              </div>

              <label
              for="dateLabel"
              [hidden]="dateStart.valid || !(dateStart.dirty || dateStart.touched)"
              class="alert alert-danger col-12">
              *未输入时间
            </label>
              <!--<input [(ngModel)]="dateFrom" name="from" #from="ngModel" type="text" class="form-control" placeholder="Start: YYYY,MM,DD">-->
            </div>
          </div>
          
          <br><br>
          <div class="row">
            <div class="col-4">
            <ngb-timepicker name="timeSet" [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
            <button type="button" class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
              24小时制 - {{meridian ? "开" : "关"}}
            </button>
            <!-- <ngb-timepicker name="timeSet" [(ngModel)]="time"></ngb-timepicker> -->
            <hr>
            </div>
          </div>

          <div class="form-group">
            <label for="imageUrlLabel">图片地址</label>
            <textarea
              type="text"
              class="form-control"
              rows="5"
              id="imageUrlLabel"
              required
              [(ngModel)]="activityToAdd.eventImageURL"
              name="imageURL"
              #imageURL="ngModel">
            </textarea>
            <label
              for="imageUrlLabel"
              [hidden]="imageURL.valid || !(imageURL.dirty || imageURL.touched)"
              class="alert alert-danger col-12">
              *未输入图片地址
            </label>
          </div>
          <div class="form-group">
            <label for="urlLabel">文章地址</label>
            <textarea
              type="text"
              class="form-control"
              rows="5"
              id="urlLabel"
              required
              [(ngModel)]="activityToAdd.eventURL"
              name="url"
              #url="ngModel">
            </textarea>
            <label
              for="urlLabel"
              [hidden]="url.valid || !(url.dirty || url.touched)"
              class="alert alert-danger col-12">
              *未输入文章地址
            </label>
          </div>

          <div class="form-group">
            <label for="urlLabel">Logo地址</label>
            <textarea
              type="text"
              class="form-control"
              rows="5"
              id="logourlLabel"
              required
              [(ngModel)]="activityToAdd.logoURL"
              name="logourl"
              #logourl="ngModel">
            </textarea>
            <label
              for="logourlLabel"
              [hidden]="logourl.valid || !(logourl.dirty || logourl.touched)"
              class="alert alert-danger col-12">
              *未输入logo地址
            </label>
          </div>
  
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addActivityForm.form.valid"
            data-toggle="modal"
            data-target="#informationDialog">
            Submit
          </button>
  
          <div class="modal fade" id="informationDialog" tabindex="-1" role="dialog"
               aria-labelledby="informationDialogTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="informationDialogTitle">{{messageTitle}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{messageBody}}
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    (click)="succeeded ? (addActivityForm.reset()) && (succeeded=false):false">
                    关闭
                  </button>
                </div>
              </div>
            </div>
          </div>
  
  
        </form>
      </div>
    </div>
  </div>
