<li class="list-group-item d-flex justify-content-between align-items-center">
  <div class="col-lg-3 align-items-center">
    <time class="timeText">{{setTime(time)}}</time>
  </div>
  <div class="col-lg-7 align-items-center">
    <strong>{{labelTitle}}</strong>
  </div>
  <div class="col-lg-1">
    <span>
      <a class="btn btn-primary" role="button" routerLink="{{edit+id}}"> Edit </a>
    </span>
  </div>
  <div class="col-lg-1">
    <span>
      <button class="btn btn-danger" role="button" (click)="onClickSureToDelete()"  > Delete </button>
    </span>
  </div>
</li>
  <!--<ng-template  #content let-c="close" let-d="dismiss">-->
    <!--<div class="modal-header">-->
      <!--<h4 class="modal-title">确认</h4>-->
      <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
        <!--<span aria-hidden="true">&times;</span>-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
      <!--<p>你确认删除这一条吗 ? </p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-primary" (click)="c('Close click')">关闭</button>-->
      <!--<button type="button" class="btn btn-danger" (click)="d(onClickSureToDelete(id))">确认</button>-->
    <!--</div>-->
  <!--</ng-template>-->





